body {
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
}

h1 {
font-family: 'Nanum Gothic', sans-serif;
font-weight: 800;
letter-spacing: 1px;
font-size: 35px;
text-transform: uppercase;
margin: 0;
}
header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
	margin: 0;
}
a {
	font-family: 'Nanum Gothic', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 20px;
	color: #FFFFFF;
	border-bottom: 2px solid transparent;
}
a:hover{
	border-bottom: 2px solid #F15B31;
	color: #F15B31;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
h2, h3 {
	font-family: 'Nanum Gothic', sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 28px;
	text-transform: uppercase;
}
p {
	font-family: 'Nanum Gothic', sans-serif;
	line-height: 26px;
	font-size: 18px;
}
img {
	margin: 30px 8px 0px 8px;
}
.link {
	font-family: 'Nanum Gothic', sans-serif;
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #F15B31;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.name{
	color: #F15B31;
	font-weight: 700;

}
.clearfix:after {
display: table;
content: " ";
clear: both;
}
.copyright{
	font-family: 'Raleway', sans-serif;
	float: left;
}
.message{
	font-family: 'Raleway', sans-serif;
	float: right;
}
.clearfix{
	overflow: hidden;
}
button{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 13px 50px;
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 13px;
	margin: 15px 0;
}
button:hover {
	background-color: #005a61;
}
h4 {
	padding: 20px 0 0 0;
	font-family: 'Nanum Gothic', sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 24px;
	
}
